[user]
	email = loicmace95@gmail.com
	name = celbax95
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	com = ":checkout master"
	br = branch
	ci = "commit -m"
	st = status
	filesfor = !"git diff-tree --no-commit-id --name-only -r "
	last = "log -1 HEAD"
	la = "!git config -l | grep alias | cut -c 7-1"
	aci = "!git add * && git st --porcelain && git commit -am"
	repos = "https://github.com/celbax95/"
	lg = "!git log --oneline"
	lgraph = !"git lg1"
    	lg1 = !"git lg1-specific --all"
	lg1-specific = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'"
	grepinv = "!f() { grep -ir --color \"$2\" \"$1\"; }; f"
	wdiff = diff --word-diff

[url "https://github.com/celbax95/"]
        insteadOf = my:
[core]
	editor = 'C:/Program Files/Sublime Text 3/sublime_text.exe' -w
[merge]
	tool = meld
